# --------------------------------------------------------------------------------------------------------------------
#  File        : .gitattributes
#  Description : Git Attributes Configuration File
#  Author      : Stein
#
#  Creation Date     : 2024-11-14T12:52:07-03:00
#  Modification Date : 2024-11-14T12:52:07-03:00
#  Version           : 0.0.0
#
#  Notes: None
#
#  Copyright(C) 2024 MorningStar Corporation International. All Rights Reserved.
# --------------------------------------------------------------------------------------------------------------------

# Auto detect text files and perform LF normalization
* text=auto
